# Documentation

## 1. Data structure

### 1.1 Customer

In [2]:
# load package
import pandas as pd
import numpy as np
import os

In [16]:
# import data
path=os.getcwd()+'/DataTables/'

customer = pd.read_csv(path+'customer_desc.csv')
customer['description'][0] = 'id of record'
customer['description'][8]='facebook id of user'
customer['description'][21]=''
customer

             data_field          description
0                  X__v         id of record
1                  X_id   This is customerID
2             avatarUrl                  NaN
3        challengeCount                  NaN
4                  coin                  NaN
5             createdAt                  NaN
6           dateOfBirth                  NaN
7         encryptedCoin                  NaN
8                  fbId  facebook id of user
9             feedbacks                  NaN
10               gender                  NaN
11    isIgnorePromotion                  NaN
12             language                  NaN
13       lastActiveTime                  NaN
14  lastActiveTimeSpbot                  NaN
15        memberCardUrl                  NaN
16           memberCode                  NaN
17                 name                  NaN
18                  otp                  NaN
19          phoneNumber                  NaN
20             referral                  NaN
21         savedAddress
22              sources                  NaN
23                 spId                  NaN
24   subscribeChallenge                  NaN
25  subscribeInvitation                  NaN
26              wAdvice                  NaN
27           wRecommend                  NaN