# Documentation

## 1. Data structure

### 1.1 Customer

In [3]:
# load package
import pandas as pd
import numpy as np
import os

In [13]:
# import data
path=os.getcwd()+'/DataTables/'

customer = pd.read_csv(path+'customer_desc.csv')
customer.head()

       data_field         description
0            X__v                 NaN
1            X_id  This is customerID
2       avatarUrl                 NaN
3  challengeCount                 NaN
4            coin                 NaN